.form-login {
  font-size: 1rem;
  align-self: center;
  margin: auto;
  padding: 2.8125rem;
  padding-top: 1.3125rem;
  border: 0.0625rem solid #68cad3;
  box-shadow: 0 1.125rem 1.25rem 0 #6184e6;
  border-radius: 2.3125rem;
  background: var(--bg-color);
}
.form-login > form {
  display: flex;
  flex-direction: column;
}
.form-login > h2 {
  margin-bottom: 1.4375rem;
}
.loading {
  height: 2.1875rem;
  width: 2.1875rem;
  margin: auto;
}
.input {
  min-height: 5rem;
}
