:root {
  --font-color: #333;
  --bg-color:  #e3e3e3;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  color: var(--font-color);
  background: var(--bg-color);
}
.full-h {
  min-height: 100vh;
}
h1, h2, h3 {
  text-align: center;
}


